/* Add additional stylesheets below
-------------------------------------------------- */

/* Body and structure
-------------------------------------------------- */

body {
	background: black;
	color: white;
  position: relative;
  padding-top: 40px;
}

h1 {
color: orange;
}

/* Code in headings */
nav {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 2em;
}


/* Change the docs' font */
body {
  font-family: 'Gabriela', serif;
}
